
body{
  font-family: 'Frank Ruhl Libre', serif;
  background-color: #393e46;
  color: white;
}

h1{
  font-family: 'Abril Fatface', cursive;
  color: #e7dfd5;
}

button{
  float: right;
  border-left: none;
  margin-left: 0px;
}

img{
  height: 750px;
  padding: 20px;
}

input{
  width:250px;
  float: right;
  border-radius: 5px;
  margin-right: 5px;
  outline: none;
}

li{
  margin: 10px;
}

.title {
  display: inline;
  text-transform: uppercase;
}

.search-item{
  width: 200px;
  height: 180px;
  padding: 10px;
}

.suggestion{
  display: inline;
  margin-right: 30px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  input{
    margin-bottom: 20px;
  }
}




