.title {
  display: inline;
}

input{
  width:150px;
  float: right;
  border-right: none;
  border-radius: 5px;
  margin-right: 0px;
}

button{
  float: right;
  border-left: none;
  margin-left: 0px;
}

img{
  height: 600px;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
